

.markdown-body {
  padding: 10px;
  color: #ffffff;

  h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #69667a;
  }

  h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #69667a;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
  }

  p {
    margin-top: 0;
    margin-bottom: 16px;
  }

  ul {
    padding-left: 2em;
  }

  a {
    color: #ffffff;
  }

  code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: #525252;
    border-radius: 6px;
    color: #ffffff;
  }
  
  table {
    display: block;
    width: 100%; // keep for backwards compatibility
    width: max-content;
    max-width: 100%;
    overflow: auto;
    margin-top: 0;
    margin-bottom: 16px;

    th,
    td {
      padding: 6px 13px;
      border: 1px solid #d0d7de;
    }

    tr {
      border-top: 1px solid rgba(210,18%,87%,1);

      &:nth-child(1n) {
        background-color: #253948;
      }

      &:nth-child(2n) {
        background-color: #2e4455;
      }
    }

    img {
      background-color: transparent;
    }
  }
}