.table {
  background-color: #1a1b1a52;
  color: #fff;
  th, td {
    border-top: none;
  }

  margin-bottom: 0;

  .table {
    margin-top: 10px;
      
    tr {
      &:nth-child(2n) {
        background-color: #1a1b1a52;
      }
    }
  }
}
